@mixin omit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// vertical 垂直 horizontal 水平
@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}


