@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// vertical 垂直 horizontal 水平
@mixin horizontalBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin horizontalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
