@mixin omit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin positionCenter {
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

@mixin test {
  border: 1px solid #f00;
}


// vertical 垂直 horizontal 水平
@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
