@mixin omit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin positionCenter {
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

@mixin flexSpaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin suspension {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}









@mixin test {
  border: 1px solid #f00;
}
