.omit {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin omit {
  @extend .omit;
  white-space: nowrap;
}

@mixin omitS {
  @extend .omit;
  display: -webkit-box;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin positionCenter {
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

@mixin linefeed {
  text-align: justify;
  text-align-last: left;
  white-space: pre-wrap;
}










.fixedTop-1,
.fixedTop-2,
.fixedBottom-1,
.fixedBottom-2 {
  position: fixed;
  z-index: 9999;
}

.fixedTop-1 {
  top: 0;
}

.fixedTop-1 {
  top: 50px;
}

.fixedBottom-1 {
  bottom: 0;
}

.fixedBottom-2 {
  bottom: 50px;
}










@mixin suspension {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  background-color: #fff;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}


@mixin flexSpaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
