$theme-BLUE: #3B87C9;
$theme-RED: #EC4141;
$theme-PICK: #ffadba;
$theme-GRAY: #666;
$theme-BLACK: #000;
$theme-LIGHITGRAY: #eee;

$text-XXXS: .1rem;
$text-XXS: .2rem;
$text-XS: .3rem;
$text-S: .4rem;
$text-M: .5rem;
$text-L: .6rem;
$text-XL: .7rem;
$text-XXL: .8rem;
$text-XXXL: .9rem;

$zIndex-XXXS: 10;
$zIndex-XXS: 20;
$zIndex-XS: 30;
$zIndex-S: 40;
$zIndex-M: 50;
$zIndex-L: 60;
$zIndex-XL: 70;
$zIndex-XXL: 80;
$zIndex-XXXL: 90;

$safeDistance: 1.5rem; // 安全高度
