$theme-BLUE: #3B87C9;
$theme-RED: #EC4141;
$theme-PICK: #ffadba;
$theme-GRAY: #666;
$theme-BLACK: #000;
$theme-WHITE: #fff;
$theme-LIGHTGRAY: #eee;

$text-XXXS: .1rem;
$text-XXS: .2rem;
$text-XS: .3rem;
$text-S: .4rem;
$text-M: .5rem;
$text-L: .6rem;
$text-XL: .7rem;
$text-XXL: .8rem;
$text-XXXL: .9rem;

$zIndex-XXXS: 10;
$zIndex-XXS: 20;
$zIndex-XS: 30;
$zIndex-S: 40;
$zIndex-M: 50;
$zIndex-L: 60;
$zIndex-XL: 70;
$zIndex-XXL: 80;
$zIndex-XXXL: 90;

$opacity-XXXS: 0.1;
$opacity-XXS: 0.2;
$opacity-XS: 0.3;
$opacity-S: 0.4;
$opacity-M: 0.5;
$opacity-L: 0.6;
$opacity-XL: 0.7;
$opacity-XXL: 0.8;
$opacity-XXXL: 0.9;

$time-XXXS: 0.1s;
$time-XXS: 0.2s;
$time-XS: 0.3s;
$time-S: 0.4s;
$time-M: 0.5s;
$time-L: 0.6s;
$time-XL: 0.7s;
$time-XXL: 0.8s;
$time-XXXL: 0.9s;

$safeDistance: 1.5rem; // 安全高度
