$gray: #eee;
$red: #EC4141;
$blue: #3B87C9;





$theme-RED: #EC4141;
$theme-GRAY: #666;

$safeDistance-TOP: 1.5rem; // 顶部导航栏
$safeDistance-BOTTOM: 1.5rem; // 底部导航栏

$text-XXXS: .1rem;
$text-XXS: .2rem;
$text-XS: .3rem;
$text-S: .4rem;
$text-M: .5rem;
$text-L: .6rem;
$text-XL: .7rem;
$text-XXL: .8rem;
$text-XXXL: .9rem;
